<%- include('../layouts/admin_layouts_header', { title: 'Admin | Dashboard' , currentPage: 'dashboard' }) %>
    <%- include('../layouts/admin_layouts_sidebar', { currentPage: 'dashboard' }) %>

       
<h1>hi</h1>

        <%- include('../layouts/admin_layouts_footer') %>