<%- include('./partials/header') %>
    <!-- Banner Start -->
    <section class="banner">
        <div class="container ">
            <div class="row gy-4 gy-sm-0 align-items-center">
                <div class="col-12 col-sm-12">
                    <div class="banner__content">
                        <h1 class="banner__title display-4 wow fadeInLeft" data-wow-duration="0.8s">Our Services</h1> 
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb wow fadeInRight" data-wow-duration="0.8s">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Our Services</li>
                            </ol>
                        </nav>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!-- Banner End -->

    

    <!-- feature start -->
    <section class="feature section">
      <div class="animation">
        <img src="/images/hero_vector_dollar.png" alt="Image" />
        <img src="/images/hero_vector_message.png" alt="Image" />
      </div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-9 col-xxl-8">
            <div class="section__header">
              <h2
                class="section__header-title wow fadeInUp"
                data-wow-duration="0.8s"
              >
                Empowering You with Loan Knowledge and Comparison Tools
              </h2>
              <p
                class="section__header-content wow fadeInDown"
                data-wow-duration="0.8s"
              >
                We are dedicated to providing you with valuable services that
                simplify your loan search and empower you to make informed
                borrowing decisions. Our comprehensive range of services
              </p>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-3 mb-3">
            <div class="card card--custom">
              <div class="card__icon">
                <img src="/images/service-icon-1.png" width="50" alt="" />
              </div>
              <div class="card__content">
                <h4 class="card__title">
                  <a href="/personal-loan">Personal loan</a>
                </h4>
                <p class="fs-small">
                  Reference site about Lorem Ipsum, giving information on its
                  origins, as well as a random Lipsum generator.
                </p>
                <a href="/personal-loan" class="btn_theme social_box"
                  ><i class="bi bi-arrow-up-right"></i><span></span
                ></a>
              </div>
            </div>
          </div>
          <!--col-md-3-->

          <div class="col-md-3 mb-3">
            <div class="card card--custom">
              <div class="card__icon">
                <img src="/images/service-icon-2.png" width="50" alt="" />
              </div>
              <div class="card__content">
                <h4 class="card__title">
                  <a href="#!">Home loan</a>
                </h4>
                <p class="fs-small">
                  Reference site about Lorem Ipsum, giving information on its
                  origins, as well as a random Lipsum generator.
                </p>
                <a href="#!" class="btn_theme social_box btn_bg_white"
                  ><i class="bi bi-arrow-up-right"></i><span></span
                ></a>
              </div>
            </div>
          </div>
          <!--col-md-3-->

          <div class="col-md-3 mb-3">
            <div class="card card--custom">
              <div class="card__icon">
                <img src="/images/service-icon-3.png" width="50" alt="" />
              </div>
              <div class="card__content">
                <h4 class="card__title">
                  <a href="#!">Business loan </a>
                </h4>
                <p class="fs-small">
                  Provide informative articles, guides, and resources to educate
                  users about different types of loans
                </p>
                <a href="#!" class="btn_theme social_box btn_bg_white"
                  ><i class="bi bi-arrow-up-right"></i><span></span
                ></a>
              </div>
            </div>
          </div>
          <!--col-md-3-->

          <div class="col-md-3 mb-3">
            <div class="card card--custom">
              <div class="card__icon">
                <img src="/images/service-icon-4.png" width="50" alt="" />
              </div>
              <div class="card__content">
                <h4 class="card__title">
                  <a href="#!">Mortgage loan </a>
                </h4>
                <p class="fs-small">
                  Provide informative articles, guides, and resources to educate
                  users about different types of loans
                </p>
                <a href="#1" class="btn_theme social_box btn_bg_white"
                  ><i class="bi bi-arrow-up-right"></i><span></span
                ></a>
              </div>
            </div>
          </div>
          <!--col-md-3-->

          <div class="col-md-3 mb-3">
            <div class="card card--custom">
              <div class="card__icon">
                <img src="/images/service-icon-5.png" width="50" alt="" />
              </div>
              <div class="card__content">
                <h4 class="card__title">
                  <a href="#!">Doctor loan </a>
                </h4>
                <p class="fs-small">
                  Provide comprehensive and unbiased reviews of various types of
                  loans, including personal loans
                </p>
                <a href="#!" class="btn_theme social_box"
                  ><i class="bi bi-arrow-up-right"></i><span></span
                ></a>
              </div>
            </div>
          </div>
          <!--col-md-3-->

          <div class="col-md-3 mb-3">
            <div class="card card--custom">
              <div class="card__icon">
                <img src="/images/service-icon-6.png" width="50" alt="" />
              </div>
              <div class="card__content">
                <h4 class="card__title">
                  <a href="#!">CA loan </a>
                </h4>
                <p class="fs-small">
                  Develop interactive tools or tables that allow users to
                  compare different loan options side by side
                </p>
                <a href="#!" class="btn_theme social_box btn_bg_white"
                  ><i class="bi bi-arrow-up-right"></i><span></span
                ></a>
              </div>
            </div>
          </div>
          <!--col-md-3-->

          <div class="col-md-3 mb-3">
            <div class="card card--custom">
              <div class="card__icon">
                <img src="/images/service-icon-7.png" width="50" alt="" />
              </div>
              <div class="card__content">
                <h4 class="card__title">
                  <a href="#!">New cars/Used cars </a>
                </h4>
                <p class="fs-small">
                  Provide informative articles, guides, and resources to educate
                  users about different types of loans
                </p>
                <a href="#!" class="btn_theme social_box btn_bg_white"
                  ><i class="bi bi-arrow-up-right"></i><span></span
                ></a>
              </div>
            </div>
          </div>
          <!--col-md-3-->

          <div class="col-md-3 mb-3">
            <div class="card card--custom">
              <div class="card__icon">
                <img src="/images/service-icon-8.png" width="50" alt="" />
              </div>
              <div class="card__content">
                <h4 class="card__title">
                  <a href="#!">Lap Loan </a>
                </h4>
                <p class="fs-small">
                  Provide informative articles, guides, and resources to educate
                  users about different types of loans
                </p>
                <a href="#1" class="btn_theme social_box btn_bg_white"
                  ><i class="bi bi-arrow-up-right"></i><span></span
                ></a>
              </div>
            </div>
          </div>
          <!--col-md-3-->

          <div class="col-md-3 mb-3">
            <div class="card card--custom">
              <div class="card__icon">
                <img src="/images/service-icon-9.png" width="50" alt="" />
              </div>
              <div class="card__content">
                <h4 class="card__title">
                  <a href="#!">Education loan </a>
                </h4>
                <p class="fs-small">
                  Provide informative articles, guides, and resources to educate
                  users about different types of loans
                </p>
                <a href="#1" class="btn_theme social_box btn_bg_white"
                  ><i class="bi bi-arrow-up-right"></i><span></span
                ></a>
              </div>
            </div>
          </div>
          <!--col-md-3-->

          <div class="col-md-3 mb-3">
            <div class="card card--custom">
              <div class="card__icon">
                <img
                  src="/images/service-icon-10.png"
                  width="50"
                  alt=""
                />
              </div>
              <div class="card__content">
                <h4 class="card__title">
                  <a href="#!">Credit cards </a>
                </h4>
                <p class="fs-small">
                  Provide informative articles, guides, and resources to educate
                  users about different types of loans
                </p>
                <a href="#1" class="btn_theme social_box btn_bg_white"
                  ><i class="bi bi-arrow-up-right"></i><span></span
                ></a>
              </div>
            </div>
          </div>
          <!--col-md-3-->
        </div>
        <!--row-->
      </div>
    </section>


<%- include('./partials/footer') %>